@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --success-color: green;
    --warning-color: rgb(255, 187, 0);
    --error-color: red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "popines", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
}
button{
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 18px;
    color: #fff;
}
input{
    outline: none;
    border: none;
}
.control{
    display: flex;
    justify-content: center;
}
.control button{
    margin: 0 12px;
}
.success{
    background-color: var(--success-color);
}
.warning{
    background-color: var(--warning-color);
}
.error{
    background-color: var(--error-color);
}
#toasts{
    position: fixed;
    top: 20px;
    right: 20px;
}
.toast{
    padding: 20px;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    position: relative;
    animation: slide_show 2s ease forwards;
    overflow: hidden;
    margin-bottom: 10px;
}
.toast i {
    margin: 0 10px 0 0;
    font-size: 30px;
}
.toast .countdown{
    background-color: var(--success-color);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation: countdown 2s ease forwards 0.5s;
}
.toast.success{
    background-color: rgba(0, 128, 0, 0.4);
    border-left: 8px solid var(--success-color);
}
.toast.warning{
    background-color: rgba(255, 187, 0, 0.4);;
    border-left: 8px solid var(--warning-color);
}
.toast.error{
    background-color: rgba(255, 0, 0, 0.4);
    border-left: 8px solid var(--error-color);
}
.toast.success .countdown{
    background-color: var(--success-color);

}
.toast.warning .countdown{
    background-color: var(--warning-color);

}
.toast.error .countdown{
    background-color: var(--error-color);
}
.toast.success i{
    color: var(--success-color);
}
.toast.warning i{
    color: var(--warning-color);

}
.toast.error i{
    color: var(--error-color);

}
@keyframes countdown {
    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}

@keyframes slide_show {
    0%{
        transform: translateX(100%);
    }
    25%{
        transform: translateX(-10%);

    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
@keyframes slide_hide {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(10px);

    }
    50%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(200%);
    }
}
